<a href="https://colab.research.google.com/github/DianeUmurerwa/DIANE_INFO3020_SPRING2020/blob/master/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#1.
num = int (input ("Enter a number a day number "))

if num == 0 :
   print("Sunday")
elif  num == 1 :
   print("Monday")
elif num == 2:
   print ("Tuesday")
elif num == 3:
    print("Wednesday")
elif num == 4:
  print ("Thursday")
elif num == 5:
  print ("Friday")
elif num == 6:
  print ("Saturday")
else :
     print("NOT a valid number ")

Enter a number a day number 1
Monday

In [0]:
#2
print("Input the lengths of two sides of a right-angled triangle : ")
a = float (input("a: "))
b = float(input("b: "))
length = sqrt (a**2 + b**2)
print("The length of the hypotenuse is", length)

Input the lengths of two sides of a right-angled triangle :
a: 3
b: 4
The length of the hypotenuse is 5.0

In [0]:
#3
print("The length of 3 sides of a triangle ")
a = float (input("a: "))
b = float (input("b: "))
c = float (input("c: "))
if (a**2 + b**2 == c**2) or (c**2 + b**2 == a**2) or (a**2+ c**2 == b**2):
  print("The triangle is right angled")
elif (a**2 + b**2 != c**2) or (c**2 + b**2 != a**2) or (a**2 + c**2 != b**2):
  print ("the triangle is not right angled") 
else:
   print("the triangle is long sided")

The length of 3 sides of a triangle
a: 5
b: 4
c: 9
the triangle is not right angled

In [0]:
#4
for months in ("January", "February","March","April","May","June","July","August","September","October","November","December"):
  print("one of the months of the year is", months)

one of the months of the year is January
one of the months of the year is February
one of the months of the year is March
one of the months of the year is April
one of the months of the year is May
one of the months of the year is June
one of the months of the year is July
one of the months of the year is August
one of the months of the year is September
one of the months of the year is October
one of the months of the year is November
one of the months of the year is December

In [0]:
#5. a
total = 0
for num in [12, 10, 32, 3, 66, 17, 42, 99, 20]:
   total = total + num
print ("the total is ", total)

the total is  301

In [0]:
#5. b
product = 1
for num in [12,10,32,3,66,17,42,99,20]:
 
   product *= num
print ("The product is ", product)

The product is  1074879590400

In [0]:
#8
for x in range (1, 1000):
    if x%2 == 0:
      
     print ("The even number is", x)