<a href="https://colab.research.google.com/github/DianeUmurerwa/DIANE_INFO3020_SPRING2020/blob/master/Assignment10-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#create a tstudent table in MySQL database
import pymysql

def stdnt():
    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()
    stuid =input("Please enter a student ID:")
    stuname = input("Please enter a student name:")
    major=input("please enter their major:")
    stuyear= input("Please enter their year:")
    tuition= input("Please enter their tuition")
    stugender=input("Please enter the student's gender")

    sql ="insert into tstudent(stuid, stuname, major, stuyear, tuition, gender) values(%s,%s,%s,%s,%s, %s)"
    values=(stuid,stuname,major, stuyear, tuition,stugender)

    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()
stdnt()

In [0]:
#using world.sql, import into MySQL server, write a function to retrieve all data from table country

import pymysql

def getdata():
  db= pymysql.connect("localhost","root","python","world")
  cursor=db.cursor()
  sql="select * from country "
  cursor.execute(sql)
  data= cursor.fetchall()
  cursor.close()
  db.close()
  return data

def getdatabyname(name):
  db=pymysql.connect("localhost","root","python","world")
  cursor=db.cursor()
  sql="select * from country where Name=' "+name+"'"
  cursor.execute(sql)
  data=cursor.fetchall()
  cursor.close()
  db.close()
  return data

def printdata(data):
  print("Code \t Name \t Continent \t\t Region")
  print("---------------------------------------")
  for row in data:
    print(str(row[0])+"\t\t"+row[1]+"\t"+row[2]+"\t\t"+str(row[3]))
    print("------------------------------------------------------")
    data=""

data= getdata()
printdata(data)
data= getdatabyname('China')
print(data)