<a href="https://colab.research.google.com/github/DianeUmurerwa/DIANE_INFO3020_SPRING2020/blob/master/Assignment10-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#function that can add a student into the table
import pymysql

def addstdnt():
    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()
    stuid =int(input("Please enter a student ID:"))
    stuname = input("Please enter a student name:")
    major=input("please enter their major:")
    stuyear=int( input("Please enter their year:"))
    tuition= input("Please enter their tuition")
    stugender=input("Please enter the student's gender")

    sql ="insert into tstudent(stuid, stuname, major, stuyear, tuition, gender) values(%s,%s,%s,%s,%s, %s)"
    values=(stuid,stuname,major, stuyear, tuition,stugender)

    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()
addstdnt()

In [0]:
#can delete a student by stuid
import pymysql

def delStuId():
    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()
    stuid= int(input("please enter the student Id you want to delete:"))
    sql="Delete from tstudent where stuid=%s"
    dbcursor.execute(sql,stuid)
    db.commit()
    dbcursor.close()
    db.close()
delStuId()

In [0]:
#can modify student name
import pymysql

def modifystu():

    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()
    stuid =input("Please enter a student ID:")
    stuname = input("Please enter a student name:")
    major=input("please enter their major:")
    stuyear= input("Please enter their year:")
    tuition= input("Please enter their tuition")
    stugender=input("Please enter the student's gender")

    sql ="update tstudent set stuname= %s, major=%s, stuyear=%s, tuition=%s, gender=%s where stuid=%s"
    values=(stuname,major, stuyear, tuition,stugender,stuid)
    dbcursor.execute(sql,values)
    db.commit()
    dbcursor.close()
    db.close()

modifystu()

In [0]:
#can count students in one specific major
import pymysql

def numStu():
    
    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()
    stumajor=input("please enter a major you want to count:")

    sql="select count(*) as totalstudent from tstudent group by major having major=%s"
    dbcursor.execute(sql,major)
    result=dbcursor.fetchone()
    print("there are "+str(result[0])+"  students in the major of "+major)
    dbcursor.close()
    db.close()

numStu()

In [0]:
#function can get one student id and name randomly
import pymysql

def randomStu():
    
    db = pymysql.connect("localhost","root","python","pydb")
    dbcursor = db.cursor()

    sql="select * from tstudent"
    stuidList=[]
    dbcursor.execute(sql)
    results=dbcursor.fetchall()

    for result in results:
        stuidList.append([result[0],result[1]])
    import random
    randomId= random.randint(0,len(stuidList))
    print(stuidList[randomId-1])
    db.cursor.close()
    db.close()

randomstu()