<a href="https://colab.research.google.com/github/DianeUmurerwa/DIANE_INFO3020_SPRING2020/blob/master/FinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#print a string content

string =input("Please input a string: ")
print(string)

Please input a string: Hello World!
Hello World!

In [0]:
total = 0
for num in range (1,1001):
  if (num%2 == 0):
   total = total + num
print ("the total is ", total)

the total is  250500

In [0]:
#given a number list, write a function that gets the product of all the numbers in the list

product =1 
def recursive_product(number_list):
  
   global product
  
   for numbers in number_list:
       if type(numbers) == list:
               recursive_product(numbers)
       else:
           product*=numbers
   return product  

number_list=[12,10,3,2,[6,[7,8,9],19,21],21]
print(recursive_product(number_list))

18243429120

In [0]:
import numpy as np

matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]

array = np.array(matrix)
arraylist=np.where(array >20, 0, array)
with open("result.txt","w") as myfile:
    myfile.write(str(arraylist))
myfile.close()
#print(arraylist)

In [0]:
def CountFrequency(number_list): 
  
    # Creating an empty dictionary  
    freq = {} 
    for item in number_list: 
        if (item in freq): 
            freq[item] += 1
        else: 
            freq[item] = 1
  
    for key, value in freq.items(): 
        print ("% d % d"%(key, value)) 
  
# Driver function 
if __name__ == "__main__":  
    number_list =[1, 3, 2, 4, 2, 3, 2, 2, 3, 2, 2, 4, 2, 32, 3, 2,  3, 5,3,2,4,2,2,4,2,2,4,2,2,4,2,3,1,3,2,3] 
  
    CountFrequency(my_list)

 1  2
 3  9
 2  17
 4  6
 32  1
 5  1

In [0]:
class Point:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y
  def distance_from_origin(self):
    return (self.x**2+self.y**2)**0.5
 
  def __str__(self):
    return "({0},{1})".format(self.x,self.y)

  

p=Point(3,4)
print("The point is",p)

The point is (3,4)

In [0]:
import math
class Point:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y
  def distance_from_origin(self):
    return (self.x**2+self.y**2)**0.5
 
  def __str__(self):
    return "({0},{1})".format(self.x,self.y)
  
  def add(p1,p2):
     x=(p1.x+p2.x)
     y=(p1.y+p2.y)
     return Point(x,y)

p1=Point(2,3)
p2=Point(3,4)
sum = p1.add(p2)
print("The point is",sum)

The point is (5,7)

In [0]:
import xlrd

filename = "catering_sale_all.xls"
workbook = xlrd.open_workbook(filename)
worksheet = workbook.sheet_by_name('Sheet1')

user_choice =1
if (user_choice!=0):
#while (user_choice!=0):

 print("\n0 exit")
 print("1 chicken feet")
 print("2 steamed dumplings")
 print("3 ribs");
 print("4 full chicken")
 print("5 stuffed bun")
 print("6 flowering cabbage")
 print("7 doufu")
 print("8 chive dumplings")
 print("9 pudding")
 print("10 original cabbage")

user_choice=int(input("Please input a number in the list: "))

sum=0

if (user_choice!=0):

    for i in sheet.col_values(user_choice):
      if isinstance(i, float):
         sum=sum+i
           
print("The total sale of choice {0} is {1}".format(user_choice,sum))

In [0]:
import pymysql

pydb=pymysql.connect('localhost','root','finalexam','world')
dbcursor=pydb.cursor()

sql="select name, avglife from country where continent ='North America','Asia','Africa',
         'Europe','South America','Oceania','Antarctica'"

command = dbcursor.execute(sql)
results = dbcursor.fetchall()

continentlist=[]
lifelist=[]

for row in results:
    continentlist.append(row[0])
    lifelist.append(str(row[1]))

print("avglife | continent ")
print ("% f | % s"%(lifelist, continentlist))

In [0]:
import matplotlib.pyplot as plt
import pymysql

pydb=pymysql.connect('localhost','root','finalexam','world')
dbcursor=pydb.cursor()

sql="select name, population from country where continent ='North America','Asia','Africa',
         'Europe','South America','Oceania','Antarctica'"

command = dbcursor.execute(sql)
results = dbcursor.fetchall()

continentlist=[]
population_percentage= []

for row in results:
    continentlist.append(row[0])
    population_percentage.append(str(row[1]))

explode=(0.1,0.1,0.1,0.1,0.1,0.1,0.1)
plt.pie(population_percentage, explode=explode,labels=continentlist, startangle=90, autopct='%.1f%%')
plt.title('Population by continent')
plt.show()

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

filename='energy-production.csv'
data=pd.read_csv(filename)

selectYear=[]
productionlist=[]

selectYear=input("Please input a year between 1973 and 2014:")

try:
    with open(filename) as file:
        reader=csv.reader(file)
        for row in reader:
            if reader.line_num >1974:
                   
productionlist=['Solar/PV Energy','Geothermal Energy','Wind Energy','Natural Gas Plant Liquids',
                'Hydroelectric Power','Biomass Energy','Nuclear Electric Power','Crude Oil','Natural Gas (Dry)','Coal']

production= selectYear

plt.ylim(0,10)
plt.bar(productionlist,production)
plt.show()